.root {
  display: flex;
  flex-direction: row;
  padding: 0rem 2rem;
  margin-left: 0rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg1);
}
.logo__container {
  display: flex;
}
.logo__text {
  font-size: 30px;
  direction: ltr;
  text-align: start;
  color: #911;
}
.logo__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px 20px;
  min-width: auto;
  padding: 0rem;
  align-items: center;
  margin: 10px;
  color: var(--primary);
  border: 0px solid black;
  border-radius: 20px;
  height: 10vh;
}
.navbar__nav {
  display: flex;
  align-items: center;
  justify-items: stretch;
  justify-content: space-between;
  width: auto;
  min-width: 40%;
  margin-left: 0px;
  margin-right: 20px;
  color: var(--primary);
}
.navbar__nav > a {
  cursor: pointer;
  color: var(--primary);
}
